<template>
  <div class="container">
     <router-link
          :to="{ name: 'product.index' }"
          class="btn btn-primary shadow rounded btn-sm my-3"
        >
          Back
        </router-link>
    <div class="row justify-content-center">
      <div class="col">
        <h1 class="text-center">About</h1>
        <p>
          {{ about.app_description }}
        </p>
        <hr />
        <strong>Application Name: </strong> {{ about.app_name }}
        <br />
        <strong>Created At: </strong> {{ about.app_created_at }}
        <br />
        <strong>Made By: </strong> {{ about.creator_name }}
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      about: {},
    };
  },
  async mounted() {
    await axios
      .get(
        "https://my-json-server.typicode.com/shevaathalla/about-demo/profile"
      )
      .then((response) => (this.about = response.data))
      .catch((err) => console.log(err));
  },
};
</script>

<style>
</style>