<template>
  <div class="container my-3">
    <div class="row justify-content-center">
      <div class="col-8">
        <router-link
          :to="{ name: 'product.index' }"
          class="btn btn-primary shadow rounded btn-sm my-3"
        >
          Back
        </router-link>
        <div class="card rounded shadow">
          <div class="card-header">Create Product</div>
          <div class="card-body">
            <form @submit.prevent="store()">
              <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="product.name"
                />
                <div class="text-danger" v-if="validation.name">{{ validation.name[0]}}</div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Detail</label>
                <textarea
                  class="form-control"
                  id=""
                  cols="10"
                  rows="3"
                  v-model="product.detail"
                ></textarea>
                <div class="text-danger" v-if="validation.detail">{{ validation.detail[0]}}</div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Stock</label>
                <input
                  type="number"
                  class="form-control"
                  v-model="product.stock"
                />
                <div class="text-danger" v-if="validation.stock">{{ validation.stock[0]}}</div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Type</label>
                <select id="" class="form-control" v-model="product.type">
                  <option value="soft">Soft</option>
                  <option value="hard">Hard</option>
                </select>
                <div class="text-danger" v-if="validation.type">{{ validation.type[0]}}</div>
              </div>
              <button                
                class="btn btn-sm btn-outline-success shadow"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, ref } from "vue";
import  { useRouter }  from "vue-router";
import  axios  from "axios";
export default {
  setup() {
    const product = reactive({
      name: "",
      detail: "",
      stock: "",
      type: "",
    });

    const validation = ref([]);

    const router = useRouter();

    function store() {
      axios
        .post("http://127.0.0.1:8000/api/product", product)
        .then(() => {
          router.push({
            name: "product.index",
          });
        })
        .catch((err) => {
          validation.value = err.response.data
        });
    }

    return {
      product,
      validation,
      router,
      store,
    };
  },
};
</script>