<template>
  <div class="container my-3">    
    <div class="row justify-content-center">
      <div class="col-8">
        <router-link
          :to="{ name: 'product.create' }"
          class="btn btn-primary shadow rounded btn-sm my-3"
        >
          Create Product
        </router-link>
        <router-link
          :to="{ name: 'about' }"
          class="btn btn-success shadow rounded btn-sm my-3 ms-3"
        >
          About
        </router-link>
        <div class="card rounded shadow">
          <div class="card-header">Product List</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Detail</th>
                  <th>Stock</th>
                  <th>Type</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(product, index) in products.data" :key="index">
                  <td>{{ product.id }}</td>
                  <td>{{ product.name }}</td>                  
                  <td>{{ product.detail }}</td>                  
                  <td>{{ product.stock }}</td>                  
                  <td>{{ product.type }}</td>                  
                  <td>
                    <div class="btn-group">
                      <router-link
                        :to="{ name: 'product.edit', params: { id: product.id } }"
                        class="btn btn-sm btn-outline-info"
                      >
                        Edit
                      </router-link>
                      <button class="btn btn-sm btn-outline-danger mx-2" @click.prevent="destroy(product.id, index)">
                        Delete
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios"
import { onMounted, ref } from "vue"

export default {
  //reactive state
  setup() {
    let products = ref([]);

    onMounted(() => {
      //get data from api
      axios
        .get("http://127.0.0.1:8000/api/product")
        .then((result) => { products.value = result.data})
        .catch((err) => { console.log(err.response)});
    });

    function destroy(id, index){
      if (confirm('are you sure?')) {
        axios
          .delete(`http://127.0.0.1:8000/api/product/${id}`)
          .then(() => {
            products.value.data.splice(index, 1)
          })
          .catch((err) => {
            console.log(err.response);
          });
      }              
    }
    return{
      products,
      destroy
    }
  },
};
</script>